*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* /* html,
body,
div,
section

{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: inherit;
} */

body {
    font-family: InknutAntiqua, Atma, Arial, Helvetica, sans-serif, 'Courier New', Courier, monospace;
    background-color: #0A0A09;
}

/* HTML5 display-role reset for older browsers */
/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
} */